<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartAgric">

        <activity
            android:name="com.smartagric.diagnostics.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartAgric.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.smartagric.diagnostics.MainActivity"
            android:exported="false" />

        <activity
            android:name="com.smartagric.diagnostics.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.smartagric.diagnostics.ResultActivity"
            android:exported="false" />

        <activity
            android:name="com.smartagric.diagnostics.HistoryActivity"
            android:exported="false" />

    </application>

</manifest>
